# Binaries
*.exe
bin/
nexus-agent

# Go sum files
go.sum
agent/go.sum

# Node
node_modules/
web/dist/
web/package-lock.json
.git-alt/
.gocache/

# Data
data/
*.db

# IDE
.idea/
.vscode/
*.swp

# Logs
*.log

# Temp files
*.tmp
*.py

# OS
.DS_Store
Thumbs.db
nexus-install/
